.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100vh;
    background-color: #3055a0;
  }
  
  .nav-item {
    padding: 50px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .nav-item:hover {
    background-color: #e5e7eb;
  }
  .logo {
    font-size: 24px;
  background: linear-gradient(to right, #0f80cc, #116feb); /* Replace with your desired gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s;
  }
  .logo:hover {
    font-size: 24px;
  background: linear-gradient(to right,#106fed, #1347e3); /* Replace with your desired gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s;

  }
  
  /* bg-gradient-to-b from-red-900 to-purple-800 */
  